.searcher{
    display: block;
    gap: 1em;
}
.search{
    display: block;
}
.search__image{
    width: 100%;
    /* justify-content: space-evenly; */
    /* display: block;
    margin: 0 auto;
    text-align: center; */
}